<!-- <p id="notice"><%= notice %></p>

<h1>Griffin Ccs</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @griffin_ccs.each do |griffin_cc| %>
      <tr>
        <td><%= griffin_cc.title %></td>
        <td><%= griffin_cc.body %></td>
        <td><%= link_to 'Show', griffin_cc %></td>
        <td><%= link_to 'Edit', edit_griffin_cc_path(griffin_cc) %></td>
        <td><%= link_to 'Destroy', griffin_cc, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Griffin Cc', new_griffin_cc_path %> -->

  <div class="inner cover">
    <h1 class="cover-heading">Griffin's CC</h1>
    <p class="lead">Login for solutions</p>
    <p class="lead">
      <%= link_to 'New Griffin Cc', new_griffin_cc_path, class: "btn btn-lg btn-secondary" %>
    </p>
  </div>
