<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @griffin_cc.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @griffin_cc.body %>
</p>

<%= link_to 'Edit', edit_griffin_cc_path(@griffin_cc) %> |
<%= link_to 'Back', griffin_ccs_path %>
